



<%= form_for [@restaurant,@reservation] do |f| %>
  <% if @reservation.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @reservation.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :party_size, "How many in your party? " %>
    <%= f.number_field :party_size %>
    <br/>
  </div>
  <div class='field' >
    <%= f.label :date, "Date:" %>
    <%= f.datetime_field(:date) %>
    <br/>
  </div>
  <div class='field' >
    <%= f.label :time_slot, "Time:" %>
    <%= f.time_field(:time_slot) %>
    <br>
  </div>
 
    
  
  <div class="actions"><%= f.submit %></div>
<% end %>

